$Poppins : 'Poppins', sans-serif;
$black : #292929;
$white : #fff;
$border : #dbdfe2;
$lightBlack: #363636;
$theme : #B71E3A;
$light:rgba(255, 255, 255, 0.55);
$Regular : 400;
$Medium : 500;
$Semi-bold : 600;
$Bold : 700;

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -webkit-appearance: none;
  font-family: $Poppins;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: $Poppins;
  font-weight: $Regular;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: #F9F9F9;
}
html {
    scroll-behavior: smooth;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    list-style: none;
    vertical-align: baseline;
}
  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
section{    
//   max-width: 1920px;
//   margin: 0 auto;
}

.container{
    max-width: 1310px;
    padding:0 15px;
    margin: 0 auto;
    @media screen and (max-width:1366px){
        max-width: 1080px;
    }
    @media screen and (max-width:1080px){
        max-width: 950px;
    }
}
.container_fluied{
    max-width: 1310px;
    padding:0 15px;
    margin: 0 auto;
    @media screen and (max-width:1366px){
        max-width: 1080px;
    }
    @media screen and (max-width:1080px){
        max-width: 950px;
    }
}
/* SECTION CSS START HERE */
h2{
    font-size: 40px;
    font-weight: $Bold;
    line-height: 55px;
    color: $theme;
    margin-bottom: 15px;
    text-transform: uppercase;
    @media screen and (max-width:1366px){
        font-size: 38px;
        line-height: 46px;
        margin-bottom: 10px;
    }
    @media screen and (max-width:1080px){
        font-size: 30px;
        line-height: 44px;
    }
    @media screen and (max-width:767px) {
        font-size: 24px;
        line-height: 34px;
    }
    @media screen and (max-width:575px) {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 5px;
    }
}
p{
    font-size: 20px;
    line-height: 37px;
    color: $black;
    font-weight: $Medium;
    @media screen and (max-width:1366px){
        font-size: 16px;
        line-height: 24px;
    }
    @media screen and (max-width:991px){
        font-size: 16px;
        line-height: 24px;
    }
    @media screen and (max-width:575px) {
        font-size: 14px;
        line-height: 22px;
    }
}
/* BOOTSTRAP CSS START HERE */
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-12, .col-md-12, .col-xs-12, .col-sm-12,.col-lg-12,.col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
@media (min-width: 768px){
    .col-6, .col-md-6, .col-xs-6, .col-sm-6 ,.col-lg-6,.col-xl-6{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
/* BOOTSTRAP CSS END'S HERE */

/* TOPBAR CSS START HERE */
.topbar{
    left: 0;
    margin: auto;
    position: relative;
    top: 0;
    width: 100%;
    background: $black;
    border-bottom: 1px solid #424242a6;
    p{
        color: #c5c5c5;
        font-size: 11px;
        vertical-align: baseline;
        margin-bottom: 0;
        line-height: 1em;
        margin-left: 0;
        padding: 5px 0;
        text-align: center;    
        font-family: $Poppins;
        @media screen and (max-width:991px){
            font-size: 11px;
        }
    }
    &.topbar2 {
        background-color: $black;
        border-bottom: none;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .timing {
            font-size: 17px; 
            font-weight: 300;
            line-height: 22px;
            color: $white;
            font-weight: 400;
            display: flex;
            @media screen and (max-width:575px){
                font-size: 14px;
            }
        }
        .count {
            margin-left: 6px;
           div{
            padding: 0px;
            background: transparent;
            position: relative;
            text-align: center;
            color: $white;
            font-family: $Poppins;
            font-size: calc(1.1em + 0.15vw);
            min-width: 54px;
            min-height: 25px;
           }
        }
    }    
}
/* TOPBAR CSS END'S HERE */

/* PRODUCT BLOCK CSS START HERE */
.product_wrapper{
    margin: 0;
    padding: 104px 0 0;
    background:url(https://silvercrest-netizens.netlify.app/images/banner.webp) no-repeat center;
    background-size: cover;
    position: relative;
    @media screen and (max-width:1366px) {
        padding: 80px 0 0;
    }
    @media screen and (max-width:991px) {
        padding: 60px 0 0;
    }
    @media screen and (max-width:767px){
        padding: 40px 0 0;
    }
    &:before{
        content: "";
        background: rgba(183, 30, 58, 0.89) url(https://silvercrest-netizens.netlify.app/images/banner-mockup.webp) no-repeat;
        background-position: top 0 left 0;
        background-size: contain;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    &:after{
        content: "";
        background: #F9F9F9;
        width: 100%;
        height: 80px;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .product_block{
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 9;
        @media screen and (max-width:991px) {
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        .images_wrapper{
            width: 100%;
            max-width: calc(100% - 627px);
            font-size: 0;
            padding-left: 44px;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            flex-direction: column;
            align-items: center;
            .img-tab {
                display: none;
            }
            .img-tab.active {
                display: block;
                position: relative;
                @media screen and (max-width:1366px) {
                    img{
                        width: 100%;
                    }
                }
            }
            @media screen and (max-width:1366px) {
                padding-left: 40px;
                max-width: calc(100% - 480px);
            }
            @media screen and (max-width:1080px){
                // margin: 70px 0 0;
            }
            @media screen and (max-width:991px) {
                max-width: 420px;
                margin: 40px auto 0px;
                padding: 0;
                .product_title{display: none;}
            }
            @media screen and (max-width:767px) {
                max-width: 320px;
            }
            @media screen and (max-width:575px) {
                max-width: 280px;
            }
            .price_block {
                position: absolute;
                z-index: 5;
                font-size: 40px;
                background: $white;
                width: 189px;
                height: 189px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                animation: bounce 2s ease infinite;
                box-shadow: 0px 10px 19.8px 0.2px rgba(127, 127, 127, 0.2);
                position: absolute;
                left: 4px;
                top: 19%;
                span{
                    font-size: 23px;
                    color: $black;
                    text-transform: uppercase;
                    font-weight: $Bold;
                }
                h2{
                    font-size: 36px;
                    font-weight: $Bold;
                    color: $black;
                    margin: 0;
                    line-height: inherit;
                    margin-bottom: -10px;
                }
                &:after{
                    width: calc(100% - 15px);
                    height: calc(100% - 15px);
                    content: "";
                    position: absolute;
                    border: 3px solid $theme;
                    border-radius: 100%;
                }
                @media screen and (max-width:1366px) {
                    width: 120px;
                    height: 120px;
                    left: 0px;
                    span{
                        font-size: 18px;
                    }
                    h2{
                        font-size: 22px;
                    }
                    &:after{
                        width: calc(100% - 8px);
                        height: calc(100% - 8px);
                    }
                }
                @media screen and (max-width:991px) {
                    left: 0;
                }
                @media screen and (max-width:575px) {
                    width: 100px;
                    height: 100px;
                    span{
                        font-size: 14px;
                    }
                    h2{
                        font-size: 16px;
                    }
                }
                @keyframes bounce{
                    0%, 20%, 50%, 80%, 100% {
                        transform: translateY(-50%);
                    }
                    40% {
                        transform: translateY(-40%);
                    }
                    
                    60% {
                        transform: translateY(-30%);
                    }
                }
            }
        }
        .form_wrapper{
            width: 100%;
            max-width: 627px;
            .product_title{
                display: none;
                @media screen and (max-width:991px) {
                    display: block;
                }
            }
            @media screen and (max-width:1366px) {
                max-width: 480px;
            }
            .form_block{
                width: 100%;
                margin: 0 auto;
                background: $black;
                // border-radius: 15px;  
                padding: 36px 40px;
                @media screen and (max-width:1366px) {
                    padding: 30px;
                }
                @media screen and (max-width:575px) {
                    padding: 25px; 
                }
                @media screen and (max-width:575px){
                    padding: 20px 15px; 
                }
                // .row{
                //     .col-6, .col-md-6, .col-xs-6, .col-sm-6 ,.col-lg-6,.col-xl-6{
                //         &:first-child{
                //             padding-right: 7px;
                //             @media screen and (max-width:767px){
                //                 padding-right: 15px;
                //             }
                //         }
                //         &:last-child{
                //             padding-left: 7px;
                //             @media screen and (max-width:767px){
                //                 padding-left: 15px;
                //             }
                //         }
                //     }
                // }               
                input[type="radio"] {
                    display: none;
                }
                .title{
                    margin-bottom: 20px;
                    text-align: center;
                    label{
                        font-weight: $Bold;
                        font-size: 30px;
                        line-height: 55px;
                        color: $white;
                        text-transform: uppercase;
                        @media screen and (max-width:1366px) {
                            font-size: 20px;
                        }
                        @media screen and (max-width:575px){
                            font-size: 18px;
                            line-height: inherit;
                        }
                    }
                    &.choose_color{
                        margin-top: 20px;
                        label{
                            font-size: 18px;
                            @media screen and (max-width:1366px) {
                                font-size: 16px;
                            }
                        }
                    }
                }
                .form-group{
                    margin-bottom: 20px;
                    label{
                        font-size: 0;
                        display: none;
                    }                    
                    input,textarea,select{
                        width: 100%;
                        border: 0;
                        border: 1px solid $lightBlack;
                        font-size: 15px;
                        color: $white;
                        font-family:$Poppins;
                        font-weight: 100;
                        padding: 14px 30px;
                        border-radius: 4px;
                        background: $lightBlack;
                        line-height: 24px;
                        outline: none;
                        &:focus{
                            border: 1px solid $white;                    
                            background: transparent;
                        }
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                        &[type=number] {
                            -moz-appearance: textfield;
                        }
                        @media screen and (max-width:1366px) {
                            padding: 9px 15px;
                            line-height: 20px;
                            font-size: 16px;
                        }
                        @media screen and (max-width:575px){
                            font-size: 16px;
                        }
                    }
                    ::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, ::placeholder {
                        font-family:$Poppins;color: rgba(255, 255, 255, 0.44);
                    }
                    input:-webkit-autofill,
                    input:-webkit-autofill:hover, 
                    input:-webkit-autofill:focus,
                    textarea:-webkit-autofill,
                    textarea:-webkit-autofill:hover,
                    textarea:-webkit-autofill:focus,
                    select:-webkit-autofill,
                    select:-webkit-autofill:hover,
                    select:-webkit-autofill:focus {
                        -webkit-text-fill-color: $white;
                        -webkit-box-shadow: 0 0 0px 1000px $lightBlack inset;
                        transition: background-color 5000s ease-in-out 0s;
                    }
                    select{
                        background-image:url(https://silvercrest-netizens.netlify.app/images/dropdown.png);
                        background-repeat: no-repeat;
                        background-position: right 20px center;
                        color: #888888;          
                        cursor: pointer;
                        &:focus{
                            border: 1px solid $white;                    
                        }
                        &.active{
                            color: $white;
                        }
                        option{
                            color: $black;
                        }
                    }
                    .form-check{
                        display: flex;
                        align-items: center;
                        padding: 10px 0;
                        @media screen and (max-width:991px) {
                            padding: 0;
                        }
                        .form-check-input {
                            width: 16px;
                            height: 16px;
                            margin-right: 10px;
                            vertical-align: top;
                            background: #FBFBFB;
                            border: 1px solid #c2c2c2;
                            appearance: none;
                            cursor: pointer;
                            padding: 0;
                            border-radius: 5px;
                            &:focus{
                                border:1px solid #05060a;                    
                            }
                            &:checked[type=checkbox] {
                                background-image: url(https://silvercrest-netizens.netlify.app/images/right.svg);
                                background-color: $lightBlack;
                            }
                        }
                        label{
                            font-size: 14px;
                            color: $light;
                            line-height: 1.2;
                            display: inline-block;
                            cursor: pointer;
                            font-family: $Poppins;
                            width: 100%;
                            @media screen and (max-width:1366px) {
                                font-size: 15px;
                            }
                        }
                    }
                }
                .btn,button,input[type="submit"]{
                    border-radius: 4px;
                    width: 100%;
                    height: 54px;
                    border: 0;
                    outline: none;
                    cursor: pointer;
                    font-size: 16px;
                    line-height: 24px;        
                    color: $black;
                    padding-bottom: 0;
                    transition: 0.5s ease;
                    background: linear-gradient(90.56deg, #FFFFFF 0%, #E0E0E0 100%);
                    box-shadow: 0px 13px 40px rgba(0, 0, 0, 0.13);
                    @media screen and (max-width:1366px) {
                        font-size: 16px;
                        height:40px;
                        padding-bottom: 2px;
                    }
                    &:hover{
                        background:linear-gradient(90.56deg,$theme 0%, $theme 100%);
                        color: $white;
                        transition:0.5s ease;
                    }
                }
            }
        }
    }
    .product_title{
        margin-bottom: 28px;
        text-align: center;
        @media screen and (max-width:1366px) {
            margin-bottom: 20px;
        }
        @media screen and (max-width:991px) {
            text-align: center;
        }
        label{
            display: block;
            font-size: 16px;
            line-height: 19px;
            color: $lightBlack;
        }
        h1{
            font-weight: $Bold;
            font-size: 40px;
            line-height: 55px;
            color: $white;
            text-transform: uppercase;
            @media screen and (max-width:1366PX){
                font-size: 34px;
                line-height: inherit;
            }      
            @media screen and (max-width:1080px) {
                font-size: 26px;
            }
            @media screen and (max-width:991px) {
                font-size: 32px;
            }
            @media screen and (max-width:767px) {
                font-size: 28px;
            }  
            @media screen and (max-width:575px){
                font-size: 22px;
            }
        }
    }
    &.campaign_two{
        .product_block{
            @media screen and (max-width:991px) {
                flex-direction: column-reverse;
            }
            .images_wrapper{
                @media screen and (max-width:991px) {
                   margin-top: 30px;
                }
                .product_title{
                    display: none;
                    @media screen and (max-width:991px) {
                       display: block;
                    }
                }
            }
            .form_wrapper{
                .product_title{
                    display: block;
                    @media screen and (max-width:991px) {
                        display: none;
                    }
                }
            }
        }
    }
}
/* PRODUCT BLOCK CSS END'S HERE */

/* ASSISTANT BLOCK CSS START HERE */
.assistant{
    padding:170px 15px 180px;
    @media screen and (max-width:1366px){
        padding:100px 15px;
    }
    @media screen and (max-width:991px){
        padding:60px 15px;
    }
    @media screen and (max-width:575px){
        padding:40px 15px;
    }
    .assistant_block{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        max-width: 1305px;
        margin: auto;
        position: relative;
        @media screen and (max-width:991px){
            flex-direction: column;
            text-align: center;
        }
        &:after{
            content: "";
            position: absolute;
            right: -330px;
            top: -180px;
            width: 400px;
            height: 410px;
            background: url(https://silvercrest-netizens.netlify.app/images/mockup.webp) no-repeat center;
            background-size: contain;
            @media screen and (max-width:1366px){
                content: none;
            }
        }
        .iamges_wrapper{
            display: block;
            margin-right: 30px;
            @media screen and (max-width:1366px){
                width: 100%;
                margin: 0;
                max-width: 480px;
                img{
                    width: 100%;
                }
            }
            @media screen and (max-width:1080px){
                max-width: 360px;
            }
            @media screen and (max-width:991px){
                margin-top: 30px;
                margin-right: 0;
            }
            // img{
            //     filter: drop-shadow(0px 100px 127px rgba(0, 0, 0, 0.1)) drop-shadow(0px 64.8148px 74.3773px rgba(0, 0, 0, 0.0759259)) drop-shadow(0px 38.5185px 40.4519px rgba(0, 0, 0, 0.0607407)) drop-shadow(0px 20px 20.6375px rgba(0, 0, 0, 0.05)) drop-shadow(0px 8.14815px 10.3481px rgba(0, 0, 0, 0.0392593)) drop-shadow(0px 1.85185px 4.99768px rgba(0, 0, 0, 0.0240741));
            // }
        }
        .text_wrapper{            
            @media screen and (max-width:1366px){
                width: 100%;
                max-width: calc(100% - 480px);
            }
            @media screen and (max-width:1080px){
                max-width: calc(100% - 360px);
            }
            @media screen and (max-width:991px){
                max-width: 680px;
            }
        }
    }
}
/* ASSISTANT BLOCK CSS END'S HERE */

/* SPECIFICATIOND BLOCK CSS START HERE */
.specifications_wrapper{
    .specifications_block{
        display: flex;
        flex-wrap: wrap;
        @media screen and (max-width:991px){
            max-width: 680px;
            margin: auto;
        }
        div{
            background: #e3e3e3;
            padding: 34px 24px;
            text-align: center;
            margin-right: 30px;
            margin-top: 30px;
            width: 100%;
            max-width: calc(33.33% - 20px);
            &:first-child{
                background: transparent;
                padding: 0;
                text-align: left;
                @media screen and (max-width:767px) {
                    img{
                        width: 100%;
                    }
                }
                @media screen and (max-width:575px) {
                    text-align: center;
                    img{
                        max-width: 280px;
                        margin: auto;
                    }
                    margin-bottom: 20px;
                }
            }
            &:first-child,&:nth-child(2),&:nth-child(3){
                margin-top: 0;
                @media screen and (max-width:991px){
                    margin-top: 30px;
                }
                @media screen and (max-width:575px){
                    margin-top: 15px;
                }
            }
            &:nth-child(3n + 3){
                margin-right: 0;
                @media screen and (max-width:991px){
                    margin-right: 30px;
                }
                @media screen and (max-width:575px){
                    margin-right: 0px;
                }
            }
            span{
                width: 88px;
                height: 88px;
                display: flex;
                justify-content: center;
                align-content: center;
                margin: 0 auto 20px;
                padding: 10px;
            }
            @media screen and (max-width:991px){
                max-width: calc(50% - 15px);
                &:nth-child(even){
                    margin-right: 0 ;
                }
                &:first-child,&:nth-child(2){
                    margin-top: 0;
                }
            }
            @media screen and (max-width:575px){
                max-width: 100%;
                margin-right: 0;
                margin-top: 15px;
                &:nth-child(even){
                    margin-right: 0 ;
                }
                &:first-child,&:nth-child(2){
                    margin-top: 0;
                }
            }
        }
    }
}
/* SPECIFICATIOND BLOCK CSS END'S HERE */

/* GALLERY BLOCK CSS START HERE */
.gallery_wrapper{
    padding: 180px 0;
    @media screen and (max-width:1366px){
        padding: 100px 0;
    }
    @media screen and (max-width:991px){
        padding: 60px 0;
    }
    @media screen and (max-width:575px){
        padding: 40px 0;
    }
    h2{
        margin-bottom: 0;
        text-align: center;
    }
    .gallery_block{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        @media screen and (max-width:1080px){
            margin-top: 30px;
        }
        @media screen and (max-width:991px){
            max-width: 680px;
            margin:30px auto 0;
        }
        @media screen and (max-width:575px){
            max-width: 320px;
            margin:20px auto 0;
        }
        &:after{
            content: "";
            position: absolute;
            left: -360px;
            top: -320px;
            width: 400px;
            height: 410px;
            background: url(https://silvercrest-netizens.netlify.app/images/mockup.webp) no-repeat center;
            background-size: contain;
            transform: rotateY(180deg);
            @media screen and (max-width:1366px){
                content: none;
            }
        }
        div{
            width: 100%;
            max-width: calc(25% - 23px);
            margin-right: 30px;
            text-align: center;
            padding: 0px 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            padding-bottom: 40px;
            @media screen and (max-width:1080px){
                padding-bottom: 10px;
            }
           
            &:after{
                content: "";
                position: absolute;
                width: 100%;
                height: 78%;
                bottom: 0;
                left: 0;
                border: 1px solid #292929;
                border-radius: 26px;
            }
            &:hover{
                &::after{
                    border: 1px solid #B71E3A;
                }
            }
            &:nth-child(4n + 4){
                margin-right: 0;
            }
            img{
                // filter: drop-shadow(0px 100px 127px rgba(0, 0, 0, 0.07)) drop-shadow(0px 64.8148px 74.3773px rgba(0, 0, 0, 0.0531481)) drop-shadow(0px 38.5185px 40.4519px rgba(0, 0, 0, 0.0425185)) drop-shadow(0px 20px 20.6375px rgba(0, 0, 0, 0.035)) drop-shadow(0px 8.14815px 10.3481px rgba(0, 0, 0, 0.0274815)) drop-shadow(0px 1.85185px 4.99768px rgba(0, 0, 0, 0.0168519));
                position: relative;
                z-index: 2;
                @media screen and (max-width:1366px){
                    max-width: 180px;
                }
            }
            @media screen and (max-width:991px){
                max-width: calc(50% - 15px);
                margin-top: 30px;
                &:nth-child(even){
                    margin-right: 0 ;
                }
                &:first-child,&:nth-child(2){
                    margin-top: 0;
                }
            }
            @media screen and (max-width:575px){
                max-width: 100%;
                margin-top: 20px !important;
                margin-right: 0;
                &:nth-child(even){
                    margin-right: 0 ;
                }
                &:first-child{
                    margin-top: 0 !important;
                }
            }
        }
    }
}
/* GALLERY BLOCK CSS END'S HERE */

/* FEATURES BLOCK CSS START HERE */
.features_wrapper{
    h2{
        margin-bottom: 0;
        text-align: center;
    }
    .features_block{
        margin-top: 50px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width:1080px){
            margin-top: 30px;
        }
        @media screen and (max-width:991px){
            flex-direction: column;
            justify-content: center;
            max-width: 680px;
            margin:30px auto 0;
        }
        @media screen and (max-width:575px){
            max-width: 320px;
            margin:20px auto 0;
        }
        > div{
            display: flex;
            justify-content: space-between;
            width: 100%;
            &:nth-child(2){
                max-width: 425px;
                margin: 0 70px;
                @media screen and (max-width:1366px){
                    max-width: 425px;
                    img{width: 100%;}
                }
                @media screen and (max-width:991px){
                    max-width: 320px;
                    margin: 10px auto;
                }
            }
        }
        .icon_block{
            @media screen and (max-width:1366px){
                span{
                    display: block;
                    margin: auto;
                    width: 60px;
                    img{
                        width: 100%;
                    }
                }
            }
            @media screen and (max-width:991px){
                max-width: 180px;
                width: 100%;
            }
        }
    }
}
/* FEATURES BLOCK CSS END'S HERE */

/* ROUNDER BLOCK CSS START HERE */
.rounder_wrapper{
    padding-top: 180px;
    @media screen and (max-width:1366px){
        padding-top: 100px;
    }
    @media screen and (max-width:991px){
        padding-top: 60px;
    }
    .rounder_block{
        display: flex;
        align-items: center;
        position: relative;
        @media screen and (max-width:991px){
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
        &:after{
            content: "";
            position: absolute;
            right: -380px;
            top: -280px;
            width: 400px;
            height: 410px;
            background: url(https://silvercrest-netizens.netlify.app/images/mockup.webp) no-repeat center;
            background-size: contain;
            @media screen and (max-width:1366px){
                content: none;
            }
        }
        .images_wrapper{
            margin-left: 60px;
            @media screen and (max-width:1366px){
                max-width: 480px;
                width: 100%;
                img{
                    width: 100%;
                }
            }
            @media screen and (max-width:991px){
                margin: 30px auto 0;
            }
        }
    }
}
/* ROUNDER BLOCK CSS END'S HERE */

/* SECTION CSS END'S HERE */

/* FOOTER CSS START HERE */
footer{
    background: #F9F9F9;
    padding: 55px 0;
    text-align: center;
    @media screen and (max-width:1366px) {
        padding: 25px 0;
    }
    p{
        font-size: 18px;
        font-family: $Poppins;
        line-height: 25px;
        color: $black;
        @media screen and (max-width:1366px) {
            font-size: 14px;
            line-height: 22px;
        }
    }
    h4{
        font-size: 20px;
        font-family: $Poppins;
        line-height: 25px;
        color: $black;
        text-align: center;
        margin-top: 5px;
        @media screen and (max-width:1366px) {
            font-size: 14px;
        }
    }
}
/* FOOTER CSS END'S HERE */ 
